<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>layout</string>
	<string>bitmap</string>
	<string>meta</string>
	<string>sound</string>
	<string>book</string>
	<string>script</string>
	<string>package</string>
	<string>stream</string>
	<string>nativecode</string>
	<string>group</string>
	<string>project</string>
</array>
</plist>
